aiofiles==22.1.0
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1724167852130/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1726062768635/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
aiosqlite==0.20.0
alabaster==0.7.16
amqp==5.2.0
anaconda-anon-usage @ file:///croot/anaconda-anon-usage_1710965072196/work
anyio==3.7.1
archspec @ file:///croot/archspec_1709217642129/work
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
args==0.1.0
arrow==1.3.0
asgiref==3.8.1
astroid==3.3.2
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
async-timeout==4.0.3
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1722977137225/work
azure-core==1.30.2
azure-storage-blob==12.22.0
babel==2.16.0
beautifulsoup4==4.12.3
billiard==4.2.0
binaryornot==0.4.4
bleach==6.1.0
boltons @ file:///work/perseverance-python-buildout/croot/boltons_1698851177130/work
Brotli @ file:///croot/brotli-split_1714483155106/work
brotlipy==0.7.0
cachetools==5.2.1
cad-viewer-widget==1.4.1
cadquery-massembly==0.9.0
cadquery-ocp==7.7.2
casadi==3.6.6
celery==5.4.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi @ file:///croot/cffi_1714483155441/work
cfgv==3.4.0
chardet==5.2.0
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
clint==0.5.1
Collectfasta==3.2.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm==0.2.2
conda @ file:///home/conda/feedstock_root/build_artifacts/conda_1722273156164/work
conda-content-trust @ file:///croot/conda-content-trust_1714483159009/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1721662679737/work/src
conda-package-handling @ file:///croot/conda-package-handling_1718138267740/work
conda_package_streaming @ file:///croot/conda-package-streaming_1718136078615/work
contourpy==1.3.0
cookiecutter==2.6.0
coverage==7.6.1
crispy-bootstrap5==2024.2
cron-descriptor==1.4.5
cryptography @ file:///croot/cryptography_1714660666131/work
cssbeautifier==1.15.1
cupy @ file:///home/conda/feedstock_root/build_artifacts/cupy-split_1724325892270/work
cycler==0.12.1
Cython==3.0.11
debugpy==1.8.5
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml==0.7.1
dill==0.3.8
distlib==0.3.8
distro @ file:///croot/distro_1714488253808/work
Django==5.0.9
django-allauth==64.2.1
django-anymail==12.0
django-celery-beat==2.7.0
django-cors-headers==4.4.0
django-countries==7.6.1
django-coverage-plugin==3.1.0
django-crispy-forms==2.3
django-debug-toolbar==4.4.6
django-environ==0.11.2
django-extensions==3.2.3
django-jazzmin==3.0.0
django-model-utils==5.0.0
django-phonenumber-field==8.0.0
django-phonenumbers==1.0.1
django-redis==5.4.0
django-storages==1.14.4
django-stubs==5.0.4
django-stubs-ext==5.0.4
django-timezone-field==7.0
djangorestframework==3.15.2
djangorestframework-stubs==3.15.1
djlint==1.35.2
docutils==0.20.1
drf-spectacular==0.27.2
dtcwt==0.14.0
EditorConfig==0.12.4
EMD-signal==1.6.4
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1720869315914/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1725214404607/work
ezdxf==1.3.3
factory_boy==3.3.1
Faker==28.4.1
fastjsonschema==2.20.0
fastrlock @ file:///home/conda/feedstock_root/build_artifacts/fastrlock_1702696298059/work
fido2==1.1.3
filelock==3.16.0
FileSDK @ file:///opt/flir/sdks/file/python/dist/FileSDK-2024.7.1-cp312-cp312-linux_x86_64.whl#sha256=3b29e2c4267936c025b943c3b0da4b6a5d16154cf91286cafd44cddfdb5fb338
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1725391243723/work
fqdn==1.5.1
frozendict @ file:///croot/frozendict_1713194832637/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1725395645938/work
fsspec==2024.9.0
gunicorn==23.0.0
h11==0.14.0
h5py==3.11.0
hiredis==3.0.0
html-tag-names==0.1.2
html-void-elements==0.1.0
identify==2.6.0
idna @ file:///croot/idna_1714398848350/work
imageio==2.35.1
imagesize==1.4.1
inflection==0.5.1
iniconfig==2.0.0
ipdb==0.13.13
ipydatawidgets==4.3.5
ipykernel==6.29.5
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1725050136642/work
ipython-genutils==0.2.0
ipywidgets==7.8.4
isodate==0.6.1
isoduration==20.11.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2==3.1.4
joblib==1.4.2
jsbeautifier==1.15.1
json5==0.9.25
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpointer==2.1
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter-cadquery-widgets==2.0.2
jupyter-events==0.10.0
jupyter-server==1.24.0
jupyter-ydoc==0.2.5
jupyter_cadquery @ git+https://github.com/bernhard-42/jupyter-cadquery.git@3f79a04b6550ed8e693f1692981bbe5afd06104b
jupyter_client==7.4.9
jupyter_core==5.7.2
jupyter_server_fileid==0.9.3
jupyter_server_terminals==0.5.3
jupyter_server_ydoc==0.8.0
jupyterlab==3.5.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==1.1.10
kiwisolver==1.4.7
kombu==5.4.1
lazy_loader==0.4
libmambapy @ file:///croot/mamba-split_1712091911343/work/libmambapy
llvmlite==0.43.0
loguru @ file:///home/conda/feedstock_root/build_artifacts/loguru_1725349741200/work
lxml==5.3.0
mamba==0.11.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
mdurl==0.1.2
menuinst @ file:///croot/menuinst_1723567589013/work
mistune==0.8.4
mpmath==1.3.0
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1725975016068/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1725953634523/work
multimethod @ file:///home/conda/feedstock_root/build_artifacts/multimethod_1677278728711/work
multiprocess==0.70.16
munkres==1.1.4
mypy==1.11.2
mypy-extensions==1.0.0
nbclassic==1.1.0
nbclient==0.5.13
nbconvert==6.5.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nlopt==2.8.0
nodeenv==1.9.1
notebook==6.5.7
notebook_shim==0.2.4
nptyping @ file:///home/conda/feedstock_root/build_artifacts/nptyping_1721644854627/work
numba==0.60.0
numpy==1.26.4
numpy-quaternion==2023.0.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.68
nvidia-nvtx-cu12==12.1.105
oauthlib==3.1.0
opencv-python==4.10.0.84
openpyxl==3.1.5
orbitcontrol-patch==0.1.0
overrides==7.7.0
packaging @ file:///croot/packaging_1720101850331/work
pandas==2.2.2
pandocfilters==1.5.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
path==17.0.0
pathos==0.3.2
pathspec==0.12.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1706113125309/work
phonenumbers==8.13.44
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow==10.4.0
platformdirs==4.3.2
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1713667077545/work
pox==0.3.4
ppft==1.7.6.8
pre-commit==3.8.0
prometheus_client==0.20.0
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1718047967974/work
psutil==6.0.0
psycopg==3.2.1
psycopg-binary==3.2.1
psycopg-c==3.2.1
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1721585709575/work
pycosat @ file:///croot/pycosat_1714510623388/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
PyGSP==0.5.1
PyOpenGL==3.1.7
pypandoc==1.13
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1724616129934/work
pypng==0.20220715.0
pyquaternion==0.9.9
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
pytesseract==0.3.13
pytest==8.3.3
pytest-django==4.9.0
pytest-sugar==1.0.0
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-slugify==8.0.4
pythreejs==2.4.2
pytz==2024.1
PyWavelets==1.7.0
PyYAML==6.0.2
pyzmq==26.2.0
qrcode==7.4.2
redis==5.0.8
referencing==0.35.1
regex==2024.9.11
requests @ file:///croot/requests_1721410876868/work
requests-oauthlib==1.3.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.8.1
rpds-py==0.20.0
ruamel.yaml @ file:///work/perseverance-python-buildout/croot/ruamel.yaml_1698863605521/work
ruff==0.6.4
scikit-image==0.24.0
scikit-learn==1.5.2
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1724327061663/work/dist/scipy-1.14.1-cp312-cp312-linux_x86_64.whl#sha256=273d4a0dca8845537bb3b7a02f60b5c84296e444f352aff32292ded3941d0b0f
seaborn==0.13.2
Send2Trash==1.8.3
sentry-sdk==2.14.0
setuptools==74.1.2
sidecar==0.5.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.6
Sphinx==7.4.7
sphinx-autoapi==3.3.1
sphinx-autobuild==2024.9.3
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.1
ssqueezepy==0.6.5
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette==0.38.5
stripe==10.9.0
sympy==1.13.3
termcolor==2.4.0
terminado==0.18.1
text-unidecode==1.3
threadpoolctl==3.5.0
tifffile==2024.9.20
tinycss2==1.3.0
tk==0.1.0
tomli==2.0.1
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tornado==6.4.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1722737464726/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
traittypes==0.2.1
triton==3.0.0
truststore @ file:///work/perseverance-python-buildout/croot/truststore_1701735771625/work
tslearn==0.6.3
types-python-dateutil==2.9.0.20240906
types-PyYAML==6.0.12.20240808
types-requests==2.32.0.20240907
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
typish @ file:///home/conda/feedstock_root/build_artifacts/typish_1628254486386/work
tzdata==2024.1
uri-template==1.3.0
uritemplate==4.1.1
urllib3 @ file:///croot/urllib3_1718912636303/work
uvicorn==0.30.6
vine==5.1.0
virtualenv==20.26.4
voila==0.3.8
vtk==9.2.6
watchdog==4.0.2
watchfiles==0.24.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.0.1
Werkzeug==3.0.4
wheel==0.43.0
widgetsnbextension==3.6.9
wslink @ file:///home/conda/feedstock_root/build_artifacts/wslink_1725922959337/work
y-py==0.6.2
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1726055131857/work
ypy-websocket==0.8.4
zstandard @ file:///croot/zstandard_1714677652653/work
